@charset "UTF-8";

/* 백그라운드 이미지 */
.header-background-area {
    width: 1903px;
    margin: 0 auto;
}

.header-background-area > img {
	position: absolute;
	z-index: -5;
	display: block;
	top: 0;
	width: 1903px;
	align: center;
	object-fit:cover; 
}

.main-banner-subtitle {
	width: 100%;
	height: 22px;
	font-family: NotoSansKR;
	font-size: 21px;
	font-weight: 500;
	line-height: 4.76;
	letter-spacing: -0.53px;
	text-align: center;
	color: #ffffff;
	z-index: -2;
	margin: -200px auto;
}

#main-title {
    width: 100%;
    height: auto;
    font-size: 60px;
    font-family: 'Jal_Onuel';
    color: #ffffff;
    text-align: center;
    line-height: 1.33;
    z-index: -2;
    margin-top: 280px;
} 

#main-title span {
	color: #fdb504;
}

/* 검색창 */
.search-box {
	width: 472px;
	height: 60px;
	text-align: center;
	margin: 50px auto 0;
}
.search-box input {
  width: 390px;
  height: 58px;
  border: solid 1px #e3e4e5;
  padding: 0 0 0 20px;
  background-color: #ffffff;
  float: left;
}
.search-box button {
	width: 60px;
	height: 60px;
	background-color: #fdb504;
	border: solid 1px #e3e4e5;
	float: left;
}

/* 원 버튼 */
.circle-btn-area {
	width: 983px;
	height: 182px;;
	margin: 254px auto 0;
}
.circle-btn-area a {
	width: 180px;
	height: 180px;
	border-radius: 180px;
	background-color: #fff;
	border: 1px solid #fdb504;
	z-index: -5;
	display: inline-block;
	text-align: center;
	float: left;
}
.circle-btn-area a:not(:last-child) {
	margin-right: 85px;
}
.circle-btn-area a img {
	width: 63px;
	height: 63px;
	z-index: -2;
	margin: 36px auto 0;
}
.circle-btn-area a:last-child img {
	width: 60px;
	height: 56px;
	padding-bottom: 5px;
}
.circle-btn-area a p {
	margin-top: 5px;
	font-family: NotoSansKR;
	font-size: 18px;
	font-weight: 600;
	line-height: 2.11;
	text-align: center;
	color: #333;
}

/* 리뷰영역 */
.review-area {
	width: 1440px;
	height: auto;
	margin: 0 auto;
}
.main-sub-title {
  width: 100%;
  height: inherit;
  margin: 140px auto 0;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.2px;
  text-align: center;
  color: #0160ff;
}
.main-sub-title span {
  padding-bottom: 10px;
  border-bottom: 4px solid #0160ff;
}
.main-content-title {
  width: 100%;
  height: 90px;
  margin: 70px auto 0;
  font-family: NotoSansKR;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: -1.2px;
  text-align: center;
  color: #333333;
}
.review-contents-area {
	width: 100%;
	height: 426px;
	
}























