@charset "UTF-8";

/* 백그라운드 이미지 */
.header-background-area {
    width: 1903px;
    margin: 0 auto;
}

.header-background-area > img {
	position: absolute;
	z-index: -5;
	display: block;
	top: 0;
	width: 1903px;
	align: center;
	object-fit:cover; 
}

.main-banner-subtitle {
	width: 100%;
	height: 22px;
	font-family: NotoSansKR;
	font-size: 21px;
	font-weight: 500;
	line-height: 4.76;
	letter-spacing: -0.53px;
	text-align: center;
	color: #ffffff;
	z-index: -2;
	margin: -200px auto;
}

#main-title {
    width: 100%;
    height: auto;
    font-size: 60px;
    font-family: 'Jal_Onuel';
    color: #ffffff;
    text-align: center;
    line-height: 1.33;
    z-index: -2;
    margin-top: 280px;
} 

#main-title span {
	color: #fdb504;
}

/* 검색창 */
.search-box {
	width: 472px;
	height: 60px;
	text-align: center;
	margin: 50px auto 0;
}
.search-box input {
  width: 390px;
  height: 58px;
  border: solid 1px #e3e4e5;
  padding: 0 0 0 20px;
  background-color: #ffffff;
  float: left;
}
.search-box button {
	width: 60px;
	height: 60px;
	background-color: #fdb504;
	border: solid 1px #e3e4e5;
	float: left;
}

/* 원 버튼 */
.circle-btn-area {
	width: 983px;
	height: 182px;;
	margin: 254px auto 0;
}
.circle-btn-area a {
	width: 180px;
	height: 180px;
	border-radius: 180px;
	background-color: #fff;
	border: 1px solid #fdb504;
	z-index: -5;
	display: inline-block;
	text-align: center;
	float: left;
}
.circle-btn-area a:not(:last-child) {
	margin-right: 85px;
}
.circle-btn-area a img {
	width: 63px;
	height: 63px;
	z-index: -2;
	margin: 36px auto 0;
}
.circle-btn-area a:last-child img {
	width: 60px;
	height: 56px;
	padding-bottom: 5px;
}
.circle-btn-area a p {
	margin-top: 5px;
	font-family: NotoSansKR;
	font-size: 18px;
	font-weight: 600;
	line-height: 2.11;
	text-align: center;
	color: #333;
}

/* 리뷰영역 */
.review-area {
	width: 1440px;
	height: auto;
	margin: 0 auto;
}
.main-sub-title {
  width: 100%;
  margin: 140px auto 0;
  font-family: NotoSansKR;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1.2px;
  text-align: center;
  color: #0160ff;
}
.main-sub-title span {
  padding-bottom: 10px;
  border-bottom: 4px solid #0160ff;
}
.main-content-title {
  width: 100%;
  height: 90px;
  margin: 70px auto 0;
  font-family: NotoSansKR;
  font-size: 38px;
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: -1.5px;
  text-align: center;
  color: #333333;
}
.review-contents-area {
	width: 100%;
	height: 426px;
	margin-top: 70px;
	margin-bottom: 185px;
	border: solid 1px #e3e4e5;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}
.review-content {
	width: 400px;
	height: 349px;
	float:left;
	padding: 39px;
	text-align: center;
	font-size: 16px;
}
.review-content:not(:last-child) {
	border-right: solid 1px #e3e4e5;
}
.review-content:nth-child(2) {
	background-color: #337fff;
	color: #fff;
}
/* 감사후기 */
.thanks-area {
	width: 100%;
	height: 1024px;
	background-color: #e3e4e5;
}
.more-paddingtop {
	padding-top: 140px;
}
.thanks-area .content-area {
	width: 1598px;
	height: 487px;
	margin-top: 70px;
	background-image: url("/resources/images/main/main-thanksbg.png") ;\
	background-repeat: no-repeat;
	float: right;
}
.thanks-area .content-area img {
	float:right;
	z-index:-1;
}
.thanks-area .content-area .thanks-content {
	width: auto;
	height: inherit;
	margin: 90px 280px 80px 570px;
	z-index:1;
}


.thanks-area .content-area .thanks-content .thanks-title {
	width: inherit;
	font-family: 'Jal_Onuel';
	display:inline-block;
	font-size: 32px;
	color: #333333;
}
.thanks-area .thanks-writer {
	width:inherit;
	display:inline-block;
	float: right;
	line-height: 50px;
	font-size: 16px;
	color: #333;
}
.thanks-area .thanks-con {
	display: block;
	width: 100%;
	height: 230px;
	margin-top:50px;
	line-height: 1.5;
	color: #333;
	overflow: scroll;
}
.thanks-area .thanks-con::-webkit-scrollbar { display: none; }
/* 시스템 소개 영역 */
.system-area {
	width: 100%;
	height: 881px;
	background-image: url("/resources/images/main/main-systembg.png") ;\
	background-repeat: no-repeat;
}
.less-margintop {
	margin-top: 0;
	color: #fdb504;
}
.less-margintop span {
	border-bottom: 4px solid #fdb504;
}
.white-text {
	color: #fff;
	font-weight: 500;
	height: 50px;
}
.system-area img {
	margin: 50px auto 0;
	display: block;
}
/* 내역영역 */
.money-area {
	width: 100%;
	height: 1030px;
	background-color: #ffd83f;
}
.less-margintop-blue {
	margin-top: 0;
	color: #0160ff;
}
.less-margintop-blue span {
	border-bottom: 4px solid #0160ff;
}
.main-content-title span {
	font-weight: 400;
	line-height: 1.5;
}
.money-intro {
	text-align: center;
	margin-top: 80px;
	font-family: NotoSansKR;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.8;
	letter-spacing: -1.5;
	color: #333;
}
.money-count {
	width: inherit;
	height: 220px;
	margin-top: 80px;
}
.donation-title-area {
	width: 640px;;
	height: 30px;
	margin: 0 auto;
}
.donation-title-side {
	width: 140px;
	height: 3px;
	background-color: #000;
	margin-top: 12px;
	float: left;
}
.donation-title-text {
	margin: 0 30px;
	font-size: 28px;
	font-weight: 600;
	color: #000;
	line-height: 30px;
	font-family: NotoSansKR;
	float: left;
}
.donation-content-area {
	width: inherit;
	height: 113px;
	margin: 60px auto 0;
	text-align: center;
}
.donation-money {
	width: inherit;
	height: inherit;
	font-size: 120px;
	letter-spacing: 0px;
	margin: 0 auto;
	font-family: NotoSansKR;
	font-weight: 600;
	line-height: 120px;
	float: left;
}
.donation-money span {
	font-size: 38px;
	margin-top: 30px;
	margin-left: 10px;
	display: inline-block;
}
/* 인스타그램 영역 */
.insta-area {
	width: 1440px;
	height: inherit;
	margin: 0 auto;
}
.insta-con-area {
	width: 100%;
	height: 268px;
	margin-top: 50px;
	margin-bottom: 140px;
}
.insta-con {
	width: 268px;
	height: 100%;
	float: left;
	background-color: #666;
}
.insta-con:not(:last-child) {
	margin-right: 25px;
}














