@charset "UTF-8";

/* 백그라운드 이미지 */
.header-background-area {
    width: 1903px;
    margin: 0 auto;
}
    .header-background-area > img {
        position: absolute;
        z-index: -5;
        display: block;
        top: 0;
        width: 1903px;
        align: center;
        object-fit:cover; 
        
    }

.frame {
	width:1258px;
	height:inherit;
	margin:0 auto;
	/* background-color:yellow; */
}
.left-login {
	width:700px;
	height: 100%;
	display:inline-block;
}

.color-frame {
	width: 600px;
	height: 500px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border:1px solid #fdb504;
	display:inline-block;
}

.color-frame:first-child {
	margin-right: 50px;
}

h2 {
	font-size:38px;
	margin-top:60px;
	text-align:center;
	
}

h4 {
	font-size:20px;
	text-align:center;
	margin-top:30px;
	font-weight:400;
	margin-bottom:50px;
}
.left-inner-box {
	width:300px;
	margin:0 auto;
}
.input-box{ 
	width: 300px;
	height:inherit;
	position:relative; 
	margin:20px auto; 
	display: block;
}
.input-box > input{ 
	background:transparent; 
	border:none; 
	border-bottom: solid 1px #ccc; 
	padding:20px 0px 5px 0px; 
	font-size:14pt; width:100%; 
}
input::placeholder{ 
	color:transparent; 
}
input:placeholder-shown + label{ 
	color:#aaa; 
	font-size:14pt; 
	top:15px; 
}

input:focus + label, label{ 
	color:#fdb504; 
	font-size:10pt; 
	pointer-events: none; 
	position: absolute; 
	left:0px; top:0px; 
	transition: all 0.2s ease ; 
}

input:focus, input:not(:placeholder-shown){ 
	border-bottom: solid 1px #8aa1a1; 
	outline:none; 
}
.kakao-btn img {
	width:300px;
	height: 45px;
	margin-top: 20px;
	margin-bottom: 100px
}
#left-login-bt {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	background-color:#fdb504;
	color: #fff;
	border:0;
	font-size: 16px;
	font-weight: 600;
	cursor:pointer;
}

/* 구글로그인 */
#my-signin2 {
	width: 300px;
	display: block;
	border-radius: 5px;
}





