@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.container {
	width: 383px;
	border-radius: 12px;
	height: 600px;
	max-height: 600px;
	radius: 7px;
	padding:0px !important;
	position: fixed;
	top:6%;
	left: 30%;
}

#startDiv{
	height: 60px;
    padding-top: 10px;
}

.pTag{
	font-size: 20px;
	font-weight: 500;
	color: #333333;
}

#requestBtn{
    padding: 8px 8px;
    font-size: 16px;
    margin-left: 180px;
    background-color: #fdb504;
    border-radius: 6px;
    border-color: #fdb504;
    color: #ffffff;
}

#imgDiv{
	width: 60px;
  	float: left;
}

#imgDiv img{
	width: 50px;
  	height: 50px;
  	margin-top: 20px;
  	margin-left: 10px;
}

#sendBtn{
	padding: 7px 20px;
    font-size: 16px;
    border-color: #fdb504;
    color: #ffffff;
    background-color: #fdb504;
    border-radius: 6px;
    margin-top: 5px;
    margin-left: 9px;
}

#chatting-text{
	height: 33px;
	width: 370px;
	margin-top: 7px;
	margin-left: 10px;
	float: left;
}

.msgBox{
	background-color: #ffffff;
	width: 80%;
	height: 50%;
	margin-left: 70px;
	border-radius: 5px;
	box-shadow: 0 0 2.8px 0.2px rgba(0, 0, 0, 0.1);
	align-items: center;
}

.msgBox span{
	margin-top:20px;
	color: black;
    font-family: NotoSansKR;
    text-align: right;
    font-size: 17px;
    padding: 5px;
}

#header {
	width: 100%;
	background-color: #fdb504;
	height: 60px;
	border-radius: 10px 10px 0 0;
}

.header-icon {
	height: 25px;
	width: 60px;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

.header-icon img{
	width: 70px;
    height: 30px;
}

.header-close {
	height: 16px;
	width: 160px;
	font-family: NotoSansKR; 
	font-size: 18px;
	font-stretch : normal; 
	font-style : normal;
	color: white;
	float: right;
	margin-right: -170px;
	margin-top: 13px;
	text-align: right;
}

.header-text h4{
	height: 16px;
	width: 160px;
	font-family: NotoSansKR; 
	font-size: 18px;
	font-stretch : normal; 
	font-style : normal;
	color: white;
	float: right;
	margin-right: 20px;
	text-align: right;
	border-radius:50px;
	margin-top: 15px;
}

.container h4 {
	text-align: left;
	font-family: NotoSansKR;
}


#chating{
	background-color: #f7f7f7;
	height: 485px;
	border-radius: 0 0 7px 7px;
	word-break: break-all;
	overflow-y: auto;
}


.chating p {
	color: black;
}

#chatting-input {
	width: 200px;
	height: 25px;
}

#yourMsg {
	display: none;
	height: 50px;
}

/* 유저가 보내는 창 css */
.sendDiv{
    width: auto;
    height: auto;
    padding: 5px;
    margin-right: 10px;
    text-align: right;
    margin-top: 10px;
    display: flex;
    flex-flow: row-reverse;
}

.sendDiv span{
	background-color:#2f63ba;
    border-radius: 5px;
    box-shadow: 0 0 2.8px 0.2px rgb(0 0 0 / 10%);
    padding: 10px;
    font-family: NotoSansKR;
  	font-size: 16px;
  	font-weight: 500;
  	color: #ffffff;
}

/* 받는 채팅창 */
.reciveDiv{
	width: auto;
    height: auto;
    padding: 5px;
    margin-right: 10px;
    text-align: left;
    margin-top: 10px;
  	align-items:center;
  	display:flex; 
  	flex-flow: inherit;
}

.reciveDiv span{
	background-color:red;
    border-radius: 5px;
    box-shadow: 0 0 2.8px 0.2px rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    font-family: NotoSansKR;
  	font-size: 16px;
  	font-weight: 500;
}

.imgDiv{
	width: 60px;
  	height: 60px;
  	margin-left: 10px;
  	float: left;
}

.imgDiv img{
	width: 50px;
    height: 50px;
    margin-bottom: 2%;
    
}

.me{
	color: #F6F6F6;
	text-align: right;
	
}

.others{
	color: #FFE400;
	text-align: left;
}


#yourName{
	display:none;
}

.hTextDid{
    font-size: 16px;
    color: #ffffff;
    text-align: right;
    font-family: NotoSansKR;
    font-weight: 500;
    padding-top: 19px;
    height: 25px;
    width: 200px;
    padding-left: 270px;
}

.chatList{
	width: 100%;
	background-color: #f7f7f7;
}

.roomList{
	width: 100%;
    height: 60px;
    background-color: #f7f7f7;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.roomList:hover{
	background-color: #fff;
}

.index{
	height: 30px;
    float: left;
    width: 30px;
    font-size: 18px;
    color: #337fff;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 40px;
}

.num{
	width: 250px;
    height: 30px;
    float: left;
    margin-top: 15px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.num span{
	font-weight: 400;
}

.room{
    width: 140px;
    height: 30px;
    float: right;
    margin-top: 15px;
    font-size: 17px;
    color: #888;
    font-weight: normal;
}

.go{
	width: 450px;
    height: 30px;
    float: left;
    margin-left: 20px;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.refreshIcon{
 	background-color: #0160ff;
    border-radius: 40px;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.refreshIcon img{
	width: 33px;
    height: 33px;
    margin-top: 11px;
    margin-left: 12px;
}

.sendingText{
	margin-bottom: 20px;
}

#backHistory{
	
}

#listH4{
	position: relative;
    left: 60px;
}

#emptyMsg{
	font-size: 20px;
    text-align: center;
    padding: 20px;
}

.xMark{
	width:30px;
	height:30px;
	background-image: url("/resources/images/chatting/xMark.png");
	margin-top: -25px;
    margin-left: -25px;
}

.xMark:hover{
	background-image: url("/resources/images/chatting/xMarkhover.png");
}

.msgBox {
	height: 45px;
    line-height: 40px;
    text-align: center;
    width: 250px;
    margin-top: 6px;
}

.waitImg{
	width: 25px; 
	height: 25px;
	margin-bottom: -5px;
}