/* ******************************************************메인 */
/* 포인트위치 */
.point-area {
    width: 100%;
    height: auto;
    float: left;
    background-color: #e3e4e5;
}
    .point-center {
        width: 1000px;
        margin: 35px auto;
    }
        .point-chart {
            /* background-color: pink; */
			background-color: white;
            width: 1000px;
            height: 600px;
            margin: 10px auto 10px auto;
        }
		/* .all-point {
			font-size: 18px;
			float: left;
			width: 100px;
			background-color: pink;
		}
		.month-point {
			font-size: 18px;
			width: 130px;
			background-color: pink;
			float: left;
			margin-left: 30px;
		} */
		.point-count-area {
			width: 1000px;
			height: 100px;
			float: left;
		}
			.point-ck {
				margin-top: 10px;
				text-align: center;
			}
			.point-ck span {
				font-size: 18px;
				font-weight: 600;
				color: #333;
			}
			.point-count-area table {
				width: 1000px;
				height: auto;
				border-top: 2px solid #0160ff;
				margin: 0 auto;
				text-align: center;
				color:#333;
				background-color: #fff;
			}
			

/* 제목 + 더보기 버튼 */
.my-title {
	width: 100%;
	height: 80px;
}
    .my-title span {
        font-size: 24px;
        font-family: 'Jal_Onuel';
        color: #333;
        line-height: 84px;
		float: left;
    }
    .more-btn-frame {
        width: auto;
        height: auto;
        float:right;
    }
    .more-btn {
        display: inline-block;
        width: 120px;
        height: 40px;
        font-size: 16px;
        color: #fff;
        background-color: #fdb504;
        margin:20px auto;
        line-height: 40px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        float:right;
    }
    .b-btn {
        background-color: #0160ff;
    }
    .reserv-btn {
		display: block;
		width: 120px;
		height: 40px;
		background-color: #0160ff;
		margin: 0 auto;
		line-height: 40px;
		color:#fff;
		border-radius: 3px;
		font-size: 16px;
		cursor: pointer;
	}
	
.done-btn {
	display: block;
	width: 120px;
	height: 40px;
	background-color: #e3e4e5;
	margin: 0 auto;
	line-height: 40px;
	color:#fff;
	border-radius: 3px;
	font-size: 16px;
}

/* 사업자관리 */
.partner-area {
    width: 100%;
    height: auto;
    float: left;
    background-color: white;
    padding-bottom: 30px;
}
	.center-area {
		width: 1000px;
        margin: 35px auto;
	}
	.center-table-area {
		width: 1000px;
	}
	.center-table-area table {
		width: 1000px;
		height: auto;
		background-color: #fff;
	}
	.center-table-area thead {
		border-top: 1px solid #0160ff;
		border-bottom: 1px solid #0160ff;
	}
	.center-table-area>table>thead>tr {
		height: 60px;
	}
	.center-table-area td {
		text-align: center;
		height: 60px;
		border-bottom: 1px solid #e3e4e5;
	}
	.center-table-area tbody>tr:hover{
		background-color: rgba(1,96,255,0.2)
	}
	



/* 회원관리 */
.user-area {
    width: 100%;
    height: auto;
    float: left;
    background-color: #e3e4e5;
    padding-bottom: 30px;
}

.board-area {
	width: 100%;
    height: auto;
    float: left;
    background-color: #fff;
	padding-bottom: 80px;
}

footer {
	float: left;
}

.aside-area {
	width : 80px;
	background : red;
	font-size: 14px;
    text-align: center;
}
	.top-btn {
		margin-bottom : 10px;
	}