@charset "UTF-8";
/* 페이징 테이블 */
.page-table {
	margin: 0 auto;
	text-align: center;
	padding: 0 0 40px 0;
}

.page-table {
	/* width: 250px; */
	margin: 80px auto;
	border-spacing: 10px;
	border-collapse: separate;
}	
	.page-td {
		background-color: #ffffff;
		color: #333333;
		height: 35px;
		line-height: 2.2;
		background-color: #e3e4e5;
		table-layout : fixed;
		padding: 0;
	}
	
	.page-table td {
		
	}
	.page-table a { 
		color: #333333;
		display: block;
		text-decoration: none;
		width: 100%;
		height: 100%;
	}
	.page-table a:hover {
		background-color: #0160ff;
		color: #ffffff;
	}
	
	
/* 메뉴 셀렉트 옵션 */
.menu-selected {
	color : #ffffff;
	background : #0160ff;
} 
           
/* 페이징 셀렉트 옵션 */
.page-selected {
	color : #ffffff;
	background : #0160ff;
}
	