<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="drmReviewMapper">

 	<resultMap type="DreamReview" id="drmReviewResultMap">
		<id property="drmRviewNo" column="DRMREVIEW_NO"/>
		<result property="drmReviewTitle" column="DRMREVIEW_TITLE"/>
		<result property="drmReviewContent" column="DRMREVIEW_CONTENT"/>
		<result property="drmReviewWriter" column="DRMREVIEW_WRITER"/>
		<result property="drmReviewCreateDate" column="DRMREVIEW_CREATE_DATE"/>
		<result property="drmReviewUploadDate" column="DRMREVIEW_UPLOAD_DATE"/>
		<result property="drmReviewPublicYN" column="DRMREVIEW_PUBLIC_YN"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM DREAM_REVIEW
	</select>
	
	<select id="selectAllList" resultMap="drmReviewResultMap">
		SELECT * FROM DREAM_REVIEW ORDER BY DRMREVIEW_NO DESC
	</select>
	
	<select id="selectOneDetail" resultMap="drmReviewResultMap">
		SELECT * FROM DREAM_REVIEW WHERE DRMREVIEW_NO = #{drmRviewNo}
	</select>

	<select id="selectListAllShopNo" resultMap="drmReviewResultMap">
		SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT FROM DREAM_REVIEW WHERE SHOP_NO = #{shopNo} AND DRMREVIEW_PUBLIC_YN = 'Y'
	</select>

	<insert id="insertDrmReview">
		INSERT INTO DREAM_REVIEW
		VALUES(SEQ_DREAM_REVIEW.NEXTVAL, #{drmReviewTitle}, #{drmReviewContent}, #{drmReviewWriter}, DEFAULT, DEFAULT, #{drmReviewPublicYN}, '1', #{userNo}, #{shopNo})
	</insert>
	
	<delete id="deleteDrmReview">
		DELETE FROM DREAM_REVIEW WHERE DRMREVIEW_NO = #{drmRviewNo}
	</delete>
	
	<update id="updateDrmReview">
		UPDATE DREAM_REVIEW SET DRMREVIEW_TITLE=#{drmReviewTitle}, DRMREVIEW_CONTENT=#{drmReviewContent}, DRMREVIEW_UPLOAD_DATE=SYSDATE, DRMREVIEW_PUBLIC_YN=#{drmReviewPublicYN} WHERE DRMREVIEW_NO = #{drmRviewNo}
	</update>
	
	<select id="drmRwUptoThree" resultMap="drmReviewResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY DRMREVIEW_UPLOAD_DATE DESC) AS NUM, DRMREVIEW_TITLE, SHOP_NAME, DRMREVIEW_UPLOAD_DATE, DREAM_REVIEW.USER_NO FROM DREAM_REVIEW JOIN SHOP USING (SHOP_NO) WHERE DREAM_REVIEW.USER_NO = #{userNo}) WHERE NUM BETWEEN 1 AND 3
	</select>
	

</mapper>