<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="drmReviewMapper">

 	<resultMap type="DreamReview" id="drmReviewResultMap">
		<id property="drmRviewNo" column="DRMREVIEW_NO"/>
		<result property="drmReviewTitle" column="DRMREVIEW_TITLE"/>
		<result property="drmReviewContent" column="DRMREVIEW_CONTENT"/>
		<result property="drmReviewWriter" column="DRMREVIEW_WRITER"/>
		<result property="drmReviewCreateDate" column="DRMREVIEW_CREATE_DATE"/>
		<result property="drmReviewUploadDate" column="DRMREVIEW_UPLOAD_DATE"/>
		<result property="drmReviewPublicYN" column="DRMREVIEW_PUBLIC_YN"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="drmRviewHit" column="DRMREVIEW_HIT"/>
	</resultMap>


	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM DREAM_REVIEW
	</select>
	
	<select id="selectAllList" resultMap="drmReviewResultMap">
		 SELECT DREAM_REVIEW.*, "SHOP".SHOP_NAME FROM DREAM_REVIEW JOIN SHOP ON DREAM_REVIEW.SHOP_NO = SHOP.SHOP_NO ORDER BY DRMREVIEW_NO DESC
	</select>
	
	<select id="selectOneDetail" resultMap="drmReviewResultMap">
		SELECT DREAM_REVIEW.*, "SHOP".SHOP_NAME FROM DREAM_REVIEW JOIN SHOP ON DREAM_REVIEW.SHOP_NO = SHOP.SHOP_NO WHERE DRMREVIEW_NO = #{drmRviewNo} ORDER BY DRMREVIEW_NO DESC
	</select>

	<!-- 가게 상세 dream 후기 -->
	<select id="selectListAllShopNo" resultMap="drmReviewResultMap">
		SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT FROM DREAM_REVIEW WHERE SHOP_NO = #{shopNo} AND DRMREVIEW_PUBLIC_YN = 'Y'
	</select>

	<!-- 가게 상세 dream, mz 전체 후기 -->
	<select id="DMReviewAll"  resultMap="drmReviewResultMap">
		SELECT * FROM
		(SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT, DRMREVIEW_UPLOAD_DATE, SHOP_NO, DRMREVIEW_PUBLIC_YN FROM DREAM_REVIEW WHERE DRMREVIEW_PUBLIC_YN = 'Y' AND SHOP_NO = #{ shopNo } UNION ALL
         SELECT MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE, SHOP_NO, 'MZ' AS DRMREVIEW_PUBLIC_YN FROM MZ_REVIEW WHERE SHOP_NO = #{ shopNo }) ORDER BY DRMREVIEW_UPLOAD_DATE DESC
	</select>
	
	<!-- 더보기 - 가게 전체 후기 5개씩 -->
	<select id="selectMoreAllReview" resultMap="drmReviewResultMap">
		SELECT * FROM
        (SELECT ROW_NUMBER() OVER (ORDER BY DRMREVIEW_UPLOAD_DATE DESC) AS NUM, DRMREVIEW_TITLE, DRMREVIEW_CONTENT, DRMREVIEW_UPLOAD_DATE, SHOP_NO, DRMREVIEW_PUBLIC_YN FROM
		(SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT, DRMREVIEW_UPLOAD_DATE, SHOP_NO, DRMREVIEW_PUBLIC_YN FROM DREAM_REVIEW WHERE DRMREVIEW_PUBLIC_YN = 'Y' AND SHOP_NO = #{ shopNo } UNION ALL
         SELECT MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE, SHOP_NO, 'MZ' AS DRMREVIEW_PUBLIC_YN FROM MZ_REVIEW WHERE SHOP_NO = #{ shopNo })) WHERE NUM BETWEEN #{ startNum } AND #{ endNum }
	</select>
	
	<!-- 더보기 - 가게 감사 후기 5개씩 -->
	<select id="selectMoreDreamReview" resultMap="drmReviewResultMap">
		SELECT * FROM
    (SELECT ROW_NUMBER() OVER (ORDER BY DRMREVIEW_UPLOAD_DATE DESC) AS NUM,
    DRMREVIEW_TITLE, DRMREVIEW_CONTENT FROM DREAM_REVIEW WHERE SHOP_NO = #{shopNo} AND DRMREVIEW_PUBLIC_YN = 'Y') WHERE NUM BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<!-- 더보기 - 가게 전체 후기 갯수 -->
	<select id="selectDMReviewCount" resultType="_int">
		SELECT COUNT(*) FROM
		(SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT, DRMREVIEW_UPLOAD_DATE, SHOP_NO, DRMREVIEW_PUBLIC_YN FROM DREAM_REVIEW WHERE DRMREVIEW_PUBLIC_YN = 'Y' AND SHOP_NO = #{shopNo} UNION ALL
         SELECT MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE, SHOP_NO, 'MZ' AS DRMREVIEW_PUBLIC_YN FROM MZ_REVIEW WHERE SHOP_NO = #{shopNo}) ORDER BY DRMREVIEW_UPLOAD_DATE DESC
	</select>
	
	<!-- 더보기 - 가게 감사 후기 갯수 -->
	<select id="selectDreamReviewCount"  resultType="_int" >
		SELECT COUNT(*) FROM (SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT FROM DREAM_REVIEW WHERE SHOP_NO = #{shopNo} AND DRMREVIEW_PUBLIC_YN = 'Y')
	</select>
	
	
	<!-- 테마 후기 랭킹 -->
	<select id="selectReviewRanking" resultType="_int">
		SELECT SHOP_NO FROM(SELECT AMOUNT, SHOP_NO, ROW_NUMBER() OVER (ORDER BY AMOUNT DESC) AS RANK FROM(SELECT COUNT(*) AS AMOUNT, SHOP_NO FROM (
		SELECT DRMREVIEW_TITLE, DRMREVIEW_CONTENT, DRMREVIEW_UPLOAD_DATE, SHOP_NO FROM DREAM_REVIEW UNION ALL
		SELECT MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE, SHOP_NO FROM MZ_REVIEW) GROUP BY SHOP_NO)) WHERE RANK BETWEEN 1 AND 10
	</select>
	
	<select id="selectOneDetailToMain" resultMap="drmReviewResultMap">
		SELECT * FROM (SELECT * FROM DREAM_REVIEW ORDER BY DRMREVIEW_UPLOAD_DATE DESC) WHERE ROWNUM=1
	</select>
	
	<insert id="insertDrmReview">
		INSERT INTO DREAM_REVIEW
		VALUES(SEQ_DREAM_REVIEW.NEXTVAL, #{drmReviewTitle}, #{drmReviewContent}, #{drmReviewWriter}, DEFAULT, DEFAULT, #{drmReviewPublicYN}, '1', #{userNo}, #{shopNo}, DEFAULT)
	</insert>
	
	<delete id="deleteDrmReview">
		DELETE FROM DREAM_REVIEW WHERE DRMREVIEW_NO = #{drmRviewNo}
	</delete>
	
	<update id="updateDrmReview">
		UPDATE DREAM_REVIEW SET DRMREVIEW_TITLE=#{drmReviewTitle}, DRMREVIEW_CONTENT=#{drmReviewContent}, DRMREVIEW_UPLOAD_DATE=SYSDATE, DRMREVIEW_PUBLIC_YN=#{drmReviewPublicYN} WHERE DRMREVIEW_NO = #{drmRviewNo}
	</update>
	
	<update id="updateHit">
		UPDATE DREAM_REVIEW SET DRMREVIEW_HIT = DRMREVIEW_HIT + 1 WHERE DRMREVIEW_NO = #{drmRviewNo}
	</update>
	
	
	
	<!-- 꿈나무 마이 페이지 -->
	<select id="drmRwUptoThree" resultMap="drmReviewResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY DRMREVIEW_UPLOAD_DATE DESC) AS NUM, DRMREVIEW_TITLE, DRMREVIEW_NO, SHOP_NAME, DRMREVIEW_UPLOAD_DATE, DREAM_REVIEW.USER_NO FROM DREAM_REVIEW JOIN SHOP USING (SHOP_NO) WHERE DREAM_REVIEW.USER_NO = #{userNo}) WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<select id="dreamGetListCount" resultType="_int">
		SELECT COUNT(*) FROM DREAM_REVIEW WHERE USER_NO = #{userNo}
	</select>
	
	<select id="reviewListByDream" resultMap="drmReviewResultMap">
		SELECT DRMREVIEW_TITLE, DRMREVIEW_NO, SHOP_NAME, DRMREVIEW_UPLOAD_DATE, DREAM_REVIEW.USER_NO FROM DREAM_REVIEW JOIN SHOP USING (SHOP_NO) WHERE DREAM_REVIEW.USER_NO = #{userNo} ORDER BY DRMREVIEW_CREATE_DATE DESC
	</select>
</mapper>