<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mzReviewMapper">

 	<resultMap type="MzReview" id="mzReviewResultMap">
		<id property="mReviewNo" column="MZREVIEW_NO"/>
		<result property="mReviewTitle" column="MZREVIEW_TITLE"/>
		<result property="mReviewContent" column="MZREVIEW_CONTENT"/>
		<result property="mReviewWriter" column="MZREVIEW_WRITER"/>
		<result property="mReviewCreateDate" column="MZREVIEW_CREATE_DATE"/>
		<result property="mReviewUploadDate" column="MZREVIEW_UPLOAD_DATE"/>
		<result property="mFileName" column="MZREVIEW_FILENAME"/>
		<result property="mReviewFilePath" column="MZREVIEW_FILEPATH"/>
		<result property="mReviewFileSize" column="MZREVIEW_FILESIZE"/>
		<result property="mReviewFileTime" column="MZREVIEW_FILETIME"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="shopNo" column="SHOP_NO"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM MZ_REVIEW
	</select>
	
	<select id="selectAllList" resultMap="mzReviewResultMap">
		SELECT * FROM MZ_REVIEW ORDER BY MZREVIEW_NO DESC
	</select>
	
	<select id="selectOneDetail" resultMap="mzReviewResultMap">
		SELECT * FROM MZ_REVIEW WHERE MZREVIEW_NO = #{mReviewNo}
	</select>
	
	<select id="selectListShopNo"  resultMap="mzReviewResultMap">
		SELECT * FROM MZ_REVIEW WHERE SHOP_NO = #{shopNo}
	</select>
	
	<select id="selectThreeReview"  resultMap="mzReviewResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY MZREVIEW_UPLOAD_DATE DESC) AS NUM, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE FROM MZ_REVIEW) WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<insert id="insertMzReview" parameterType="MzReview">
		INSERT INTO MZ_REVIEW VALUES(SEQ_MZ_REVIEW.NEXTVAL, #{mReviewTitle}, #{mReviewContent}, #{mReviewWriter}, DEFAULT, DEFAULT, NULL, NULL, NULL, NULL, #{userType}, #{userNo}, '1')
	</insert>

	<delete id="deleteMzReview">
		DELETE FROM MZ_REVIEW WHERE MZREVIEW_NO=#{mzReviewNo}
	</delete>


</mapper>