<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mzReviewMapper">

 	<resultMap type="MzReview" id="mzReviewResultMap">
		<id property="mReviewNo" column="MZREVIEW_NO"/>
		<result property="mReviewTitle" column="MZREVIEW_TITLE"/>
		<result property="mReviewContent" column="MZREVIEW_CONTENT"/>
		<result property="mReviewWriter" column="MZREVIEW_WRITER"/>
		<result property="mReviewCreateDate" column="MZREVIEW_CREATE_DATE"/>
		<result property="mReviewUploadDate" column="MZREVIEW_UPLOAD_DATE"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="mzReviewHit" column="MZREVIEW_HIT"/>
	</resultMap>
	
 	<resultMap type="MzReviewPhoto" id="mzPhotoResultMap">
		<id property="mzReviewFileNo" column="MZREVIEW_FILENO"/>
		<result property="mzReviewOriginalFileName" column="MZREVIEW_ORIGINAL_FILENAME"/>
		<result property="mzReviewRenameFileName" column="MZREVIEW_RENAME_FILENAME"/>
		<result property="mzReviewFilePath" column="MZREVIEW_FILEPATH"/>
		<result property="mzReviewFileSize" column="MZREVIEW_FILESIZE"/>
		<result property="mzReviewFileTime" column="MZREVIEW_FILETIME"/>
		<result property="mzReviewNo" column="MZREVIEW_NO"/>
		<result property="userType" column="USER_TYPE"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM MZ_REVIEW
	</select>

	<select id="selectListCountToMyPage" resultType="_int">
		SELECT COUNT(*) FROM MZ_REVIEW WHERE USER_NO = #{userNo}
	</select>
	
	<select id="selectAllList" resultMap="mzReviewResultMap">
		SELECT * FROM MZ_REVIEW ORDER BY MZREVIEW_NO DESC
	</select>

	<select id="selectAllReviewToMyPage" resultMap="mzReviewResultMap">
		SELECT ROW_NUMBER() OVER (ORDER BY MZREVIEW_UPLOAD_DATE DESC) AS NUM, MZREVIEW_TITLE, MZREVIEW_NO, MZREVIEW_CONTENT, SHOP_NAME, MZREVIEW_UPLOAD_DATE FROM MZ_REVIEW M JOIN SHOP S USING(SHOP_NO) WHERE M.USER_NO=#{userNo} ORDER BY MZREVIEW_UPLOAD_DATE DESC
	</select>
	
	<select id="selectOneDetail" resultMap="mzReviewResultMap">
		SELECT MZ_REVIEW.*, "SHOP".SHOP_NAME FROM MZ_REVIEW JOIN SHOP ON MZ_REVIEW.SHOP_NO = SHOP.SHOP_NO WHERE MZREVIEW_NO = #{mReviewNo} ORDER BY MZREVIEW_NO DESC
	</select>
	
	<select id="selectListShopNo"  resultMap="mzReviewResultMap">
		SELECT MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE, MZREVIEW_FILENAME FROM MZ_REVIEW WHERE SHOP_NO = #{shopNo}
	</select>
	
	<select id="selectThreeReview"  resultMap="mzReviewResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY MZREVIEW_UPLOAD_DATE DESC) AS NUM, MZREVIEW_TITLE, MZREVIEW_WRITER, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE FROM MZ_REVIEW) WHERE NUM BETWEEN 1 AND 3
	</select>

	<select id="selectThreeReviewToMyPage"  resultMap="mzReviewResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY MZREVIEW_UPLOAD_DATE DESC) AS NUM, MZREVIEW_TITLE, MZREVIEW_NO, MZREVIEW_CONTENT, SHOP_NAME, MZREVIEW_UPLOAD_DATE FROM MZ_REVIEW M JOIN SHOP S USING(SHOP_NO) WHERE M.USER_NO=#{userNo} ORDER BY MZREVIEW_UPLOAD_DATE DESC) WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<insert id="insertMzReview" parameterType="MzReview"  useGeneratedKeys="true" keyProperty="mReviewNo" keyColumn="MZREVIEW_NO">
		INSERT INTO MZ_REVIEW VALUES(SEQ_MZ_REVIEW.NEXTVAL, #{mReviewTitle}, #{mReviewContent}, #{mReviewWriter}, DEFAULT, DEFAULT, #{userType}, #{userNo}, #{shopNo}, DEFAULT)
	</insert>
	
	<update id="updateMzReview">
		UPDATE MZ_REVIEW SET MZREVIEW_TITLE = #{mReviewTitle}, MZREVIEW_CONTENT = #{mReviewContent} WHERE MZREVIEW_NO = #{mReviewNo}
	</update>
	
	<update id="updateHit">
		UPDATE MZ_REVIEW SET MZREVIEW_HIT = MZREVIEW_HIT + 1 WHERE  MZREVIEW_NO = #{mReviewNo}
	</update>

	<delete id="deleteMzReview">
		DELETE FROM MZ_REVIEW WHERE MZREVIEW_NO=#{mzReviewNo}
	</delete>
	
	<!-- 사진 -->
	<select id="selectMZPhoto" resultMap="mzPhotoResultMap">
		SELECT * FROM MZ_REVIEW_PHOTO WHERE MZREVIEW_NO = #{mzReviewNo}
	</select>
	
	<insert id="insertMZPhoto" >
		INSERT INTO MZ_REVIEW_PHOTO VALUES(SEQ_MZREVIEW_PHOTO.NEXTVAL, #{mzReviewOriginalFileName}, #{mzReviewRenameFileName}, #{mzReviewFilePath}, #{mzReviewFileSize}, #{mzReviewFileTime}, #{mzReviewNo})
	</insert>
	
	<delete id="deleteBeforeMZPhoto">
		DELETE FROM MZ_REVIEW_PHOTO WHERE MZREVIEW_NO = #{mzReviewNo}
	</delete>
	
	<!-- 맛집 후기 사진 중 가장 최근 사진만 가져오기 -->
	<select id="selectRecentPhotoOne" resultMap="mzPhotoResultMap">
		SELECT NVL(MAX(MZREVIEW_RENAME_FILENAME), 'EMPTY') as MZREVIEW_RENAME_FILENAME FROM (SELECT * FROM MZ_REVIEW_PHOTO WHERE MZREVIEW_NO = #{ shopNo } ORDER BY MZREVIEW_FILETIME DESC) WHERE ROWNUM = 1
	</select>
	
	<!-- 전체 후기 - 맛집 사진 중 가장 최근 사진만 가져오기 -->
	<select id="selectMzPhotoOne" resultType="String">
		SELECT NVL(MAX(MZREVIEW_RENAME_FILENAME), 'EMPTY') as MZREVIEW_RENAME_FILENAME FROM (SELECT * FROM MZ_REVIEW_PHOTO WHERE MZREVIEW_NO = #{ mzReviewNo } AND USER_TYPE = #{ userType } ORDER BY MZREVIEW_FILETIME DESC) WHERE ROWNUM = 1
	</select>
	
	
	<!-- 더보기 - 가게 MZ(맛집) 후기 5개씩 --> 
	<select id="selectMoreMzReview"  resultMap="mzReviewResultMap">
		SELECT * FROM
    	(SELECT ROW_NUMBER() OVER (ORDER BY MZREVIEW_UPLOAD_DATE DESC) AS NUM,
 		MZREVIEW_NO, MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE FROM MZ_REVIEW WHERE SHOP_NO = #{shopNo} ) WHERE NUM BETWEEN #{startNum} AND #{endNum}
	</select>
	
	<!-- 더보기 - 가게 MZ(맛집) 후기 갯수 -->
	<select id="selectMzReviewCount"  resultType="_int" >
		SELECT COUNT(*) FROM 
    	(SELECT MZREVIEW_NO, MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_UPLOAD_DATE FROM MZ_REVIEW WHERE SHOP_NO = #{shopNo})
	</select>


</mapper>