<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paymentMapper">

	<resultMap type="Don" id="paymentResultMap">
		<id property="donNo" column="DON_NO"/>
		<result property="donPrice" column="DON_PRICE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="menuName" column="MENU_NAME"/>
		<result property="amount" column="AMOUNT"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopNo" column="SHOP_NO"/>
		<result property="usePoint" column="USE_POINT"/>
		<result property="savePoint" column="SAVE_POINT"/>
		<result property="rouletteYN" column="ROULETTE_YN"/>
	</resultMap>
	
	<resultMap type="User" id="userResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNick" column="USER_NICK"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="partnerVerify" column="PARTNER_VERIFY"/>
		<result property="partnerWithdraw" column="PARTNER_WITHDRAW"/>
		<result property="dreamCardno" column="DREAM_CARDNO"/>
		<result property="userPoint" column="USER_POINT"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="partnerName" column="PARTNER_NAME"/>
	</resultMap>
	
	<!-- select - insert - update - delete -->
	
	<!-- 돈쭐내역 출력(mz 마이페이지) -->
	<select id="selectDonListThree" resultMap="paymentResultMap"> <!-- 돈쭐내역 3개 출력 -->
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY PAYMENT_DATE DESC) AS NUM, SHOP_NAME, PAYMENT_DATE, DON_PRICE FROM DON WHERE USER_NO = #{userNo }) WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectDonAllList" resultMap="paymentResultMap">
		SELECT SHOP_NAME, PAYMENT_DATE, DON_PRICE FROM DON WHERE USER_NO = #{userNo }
	</select>
	
	
	<!-- 룰렛 전 - don 내역 저장, 포인트 업데이트 -->
	<insert id="insertDonList" useGeneratedKeys="true" keyProperty="donNo" keyColumn="DON_NO">
		INSERT INTO DON VALUES(SEQ_DON.NEXTVAL, #{donPrice }, #{userNo }, #{menuName }, #{amount }, SYSDATE, #{shopName }, #{shopNo }, #{usePoint }, DEFAULT , DEFAULT )
	</insert>
	
	<update id="updateUserPoint" parameterType="HashMap">
		<!-- UPDATE "USER" SET USER_POINT = #{userPoint } WHERE USER_NO = #{userNo } -->
		UPDATE "USER" SET USER_POINT = NVL(USER_POINT,0) - (SELECT NVL(USE_POINT,0) FROM DON WHERE DON_NO = #{donNo }) WHERE USER_NO = #{userNo }
	</update>
	
	<!-- 룰렛 사용가능 여부 체크하기 (select / update -->
	<select id="selectRouletteYN" resultMap="paymentResultMap">
		SELECT * FROM DON WHERE DON_NO = #{donNo }
	</select>
	
	<update id="updateRouletteYN">
		UPDATE DON SET ROULETTE_YN = 'N' WHERE DON_NO = #{donNo }
	</update>
	
	<!-- 룰렛 후 - don 내역 조회, 포인트 업데이트, 유저 포인트 업데이트 -->
	<select id="selectDonPrice" resultMap="paymentResultMap">
		SELECT DON_PRICE FROM DON WHERE DON_NO = #{donNo }
	</select>
	
	<update id="updateDonSavePoint">
		UPDATE DON SET SAVE_POINT = #{savePoint } WHERE DON_NO = #{donNo }
	</update>
	
	<update id="updateRealSavePoint">
		UPDATE DON SET SAVE_POINT = DON_PRICE * (SELECT NVL(SAVE_POINT,0) FROM DON WHERE DON_NO = #{donNo }) WHERE DON_NO = #{donNo }
	</update>
	
	<update id="updateRoulettePoint" parameterType="HashMap" >
		<!-- UPDATE "USER" SET USER_POINT = #{userPoint } WHERE USER_NO = #{userNo } -->
		UPDATE "USER" SET USER_POINT = NVL(USER_POINT,0) + (SELECT NVL(SAVE_POINT,0) FROM DON WHERE DON_NO = #{donNo }) WHERE USER_NO = #{userNo}
	</update>
	
	
	
	
	

	<!-- 사업자 가게 테이블 -->
	<resultMap type="Shop" id="shopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="reserveNo" column="RESERVE_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopShortAddr" column="SHOP_SHORT_ADDR"/>
		<result property="shopAddr" column="SHOP_ADDR"/>
		<result property="shopTarget" column="SHOP_TARGET"/>
		<result property="shopProduct" column="SHOP_PRODUCT"/>
		<result property="shopType" column="SHOP_TYPE"/>
		<result property="shopFileName" column="SHOP_FILENAME"/>
		<result property="shopFilePath" column="SHOP_FILEPATH"/>
		<result property="shopFileSize" column="SHOP_FILESIZE"/>
		<result property="shopUploadTime" column="SHOP_UPLOADTIME"/>
		<result property="shopParking" column="SHOP_PARKING_YN"/>
		<result property="shopMaxReserv" column="SHOP_MAX_RESERVATION"/>
		<result property="shopContent" column="SHOP_CONTENT"/>
		<result property="shopLat" column="SHOP_LAT"/>
		<result property="shopLng" column="SHOP_LNG"/>
		<result property="shopPoint" column="SHOP_POINT"/>
		<result property="shopPointYn" column="SHOP_POINT_YN"/>
		<result property="userNo" column="USER_NO"/>
		<result property="donNo" column="DON_NO"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="businessDay" column="BUSINESS_DAY"/>
		<!-- <result property="shopPhone" column="SHOP_PHONE"/> -->
		<result property="shopPhone" column="SHOP_PHONE"/>
	</resultMap>
	
	
	<!-- 메인 메뉴 테이블 -->
	<resultMap type="MainMenu" id="mainMenuResultMap">
		<id property="mainMenuNo" column="MAIN_MENU_NO"/>
		<result property="mainMenuName" column="MAIN_MENU_NAME"/>
		<result property="mainMenuPrice" column="MAIN_MENU_PRICE"/>
		<result property="shopNo" column="SHOP_NO"/>
	</resultMap>
	
	
	<!-- 가게 출력 -->
	<select id="selectShopShopNo" resultMap="shopResultMap">
		SELECT * FROM SHOP WHERE SHOP_NO = #{shopNo } 
	</select>
	
	<select id="selectShopUserNo" resultMap="shopResultMap">
		SELECT * FROM SHOP WHERE USER_NO = #{userNo }
	</select>
	
	<!-- 가게메뉴 출력 -->
	<select id="selectShopMenu" resultMap="mainMenuResultMap">
		SELECT * FROM MAIN_MENU WHERE SHOP_NO = #{shopNo } 
	</select>


	<!-- 사업자 포인트 환급신청 -->
	<update id="updateShopPointYN">
		UPDATE SHOP SET SHOP_POINT_YN = 'Y' WHERE SHOP_NO = #{shopNo }
	</update>


	<!-- 어드민 -->
	<select id="selectDonListView" resultMap="paymentResultMap"
		resultType="_int">
		SELECT * FROM DON WHERE PAYMENT_DATE BETWEEN TO_DATE(#{date1},'YYYYMMDD')AND
		TO_DATE(#{date2},'YYYYMMDD') + 0.99999
	</select>

	<!-- <select id="selectDonListSum" resultType="com.donzzul.spring.payment.domain.DonCount"> 
		SELECT SUM(DON_PRICE) AS donPriceSum, COUNT(DON_PRICE) AS donPricePepole 
		FROM DON WHERE PAYMENT_DATE BETWEEN TO_DATE(#{date1})AND TO_DATE(#{date2}) 
		+ 0.99999 </select> -->

	
</mapper>