<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recommendMapper">

 	<resultMap type="RecommendBoard" id="recommendResultMap">
		<id property="recommendNo" column="RECOMMEND_NO"/>
		<result property="recommendTitle" column="RECOMMEND_TITLE"/>
		<result property="recommendContent" column="RECOMMEND_CONTENT"/>
		<result property="recommendWriter" column="RECOMMEND_WRITER"/>
		<result property="recommendCreateDate" column="RECOMMEND_CREATE_DATE"/>
		<result property="recommendUploadDate" column="RECOMMEND_UPLOAD_DATE"/>
		<result property="recommendImg" column="RECOMMEND_IMG"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="userNo" column="USER_NO"/>
		<result property="recommendHit" column="RECOMMEND_HIT"/>
	</resultMap>
	
	
 	<resultMap type="RecommendPhoto" id="rePhotoResultMap">
		<id property="recommendFileNo" column="RECOMMEND_FILENO"/>
		<result property="recommendOriginalFileName" column="RECOMMEND_ORIGINAL_FILENAME"/>
		<result property="recommendRenameFileName" column="RECOMMEND_RENAME_FILENAME"/>
		<result property="recommendFilePath" column="RECOMMEND_FILEPATH"/>
		<result property="recommendFileSize" column="RECOMMEND_FILESIZE"/>
		<result property="recommendFileTime" column="RECOMMEND_FILETIME"/>
		<result property="recommendNo" column="RECOMMEND_NO"/>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM RECOMMEND_BOARD
	</select>
	
	<select id="selectAllList" resultMap="recommendResultMap">
		SELECT * FROM RECOMMEND_BOARD ORDER BY RECOMMEND_NO DESC
	</select>
	
	<select id="selectOneDetail" resultMap="recommendResultMap">
		SELECT * FROM RECOMMEND_BOARD WHERE RECOMMEND_NO = #{recommendNo}
	</select>
	
	<select id="selectAdminListThree" resultMap="recommendResultMap">
		SELECT RECOMMEND_NO, RECOMMEND_TITLE, RECOMMEND_CONTENT, RECOMMEND_WRITER, RECOMMEND_CREATE_DATE, '1', USER_NO FROM RECOMMEND_BOARD UNION    
		SELECT DRMREVIEW_NO ,DRMREVIEW_TITLE, DRMREVIEW_CONTENT, DRMREVIEW_WRITER, DRMREVIEW_CREATE_DATE AS RECOMMEND_CREATE_DATE, DRMREVIEW_PUBLIC_YN, USER_NO FROM DREAM_REVIEW UNION
		SELECT MZREVIEW_NO,MZREVIEW_TITLE, MZREVIEW_CONTENT, MZREVIEW_WRITER, MZREVIEW_CREATE_DATE AS RECOMMEND_CREATE_DATE, '1', USER_NO FROM MZ_REVIEW UNION
		SELECT QNA_NO, QNA_TITLE, QNA_CONTENT, QNA_WRITER, QNA_CREATE_DATE AS RECOMMEND_CREATE_DATE, '1', USER_NO FROM QNA_BOARD ORDER BY RECOMMEND_CREATE_DATE DESC
	</select>

 	<insert id="insertRecommend" useGeneratedKeys="true" keyProperty="recommendNo" keyColumn="RECOMMEND_NO">
		INSERT INTO RECOMMEND_BOARD VALUES(SEQ_RECOMMEND_BOARD.NEXTVAL, #{recommendTitle}, #{recommendContent}, #{recommendWriter}, DEFAULT, DEFAULT, NULL, #{userType}, #{userNo}, DEFAULT)
	</insert>
	
	<update id="updateRecommend">
		UPDATE RECOMMEND_BOARD SET RECOMMEND_TITLE= #{recommendTitle}, RECOMMEND_CONTENT= #{recommendContent} WHERE RECOMMEND_NO = #{recommendNo}
	</update>
	
	<update id="updateHit">
		UPDATE RECOMMEND_BOARD SET RECOMMEND_HIT = RECOMMEND_HIT + 1 WHERE RECOMMEND_NO = #{recommendNo}
	</update>
	
	<delete id="deleteRecommend">
		DELETE FROM RECOMMEND_BOARD WHERE RECOMMEND_NO = #{recommendNo}
	</delete>
	
<!-- 사진 -->

	<select id="selectPhoto" resultMap="rePhotoResultMap">
		SELECT * FROM RECOMMEND_PHOTO WHERE RECOMMEND_NO LIKE #{recommendNo}
	</select>
	
	<insert id="insertPhoto">
		INSERT INTO RECOMMEND_PHOTO VALUES (SEQ_RECOMMEND_PHOTO.NEXTVAL, #{recommendOriginalFileName}, #{recommendRenameFileName}, #{recommendFilePath}, #{recommendFileSize}, #{recommendFileTime}, #{recommendNo})  
	</insert>
	
	<delete id="deleteBeforePhoto">
		DELETE FROM RECOMMEND_PHOTO WHERE RECOMMEND_NO LIKE #{recommendNo}
	</delete>

</mapper>