<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">
   <resultMap type="Reservation" id="reservationResultMap">
      <id property="reservationNo"  column="RESERVATION_NO"></id>
      <result property="shopNo" column="SHOP_NO"></result>
      <result property="reserveDate" column="RESERVE_DATE"></result>
      <result property="reserveTime" column="RESERVE_TIME"></result>
      <result property="reserveCount" column="RESERVE_COUNT"></result>
      <result property="pointYn" column="POINT_YN"></result>
      <result property="paymentPoint" column="PAYMENT_POINT"></result>
      <result property="userNo" column="USER_NO"></result>
      <result property="rState" column="R_STATE"></result>
      <result property="shopName" column="SHOP_NAME"></result>
      <result property="userNick" column="USER_NICK"></result>
   </resultMap>

	<insert id="insertRservation">
		INSERT INTO RESERVATION VALUES(SEQ_RESERVATION.NEXTVAL, #{shopNo}, #{reserveDate}, #{reserveTime}, #{reserveCount}, #{pointYn}, #{paymentPoint}, #{userNo}, DEFAULT)
	</insert>
	
	<select id="getReserveNo" resultType="_int">
		SELECT MAX(RESERVATION_NO) FROM RESERVATION WHERE USER_NO=#{userNo}
	</select>
	
	<select id="selectOneByRno" resultMap="reservationResultMap">
		SELECT * FROM RESERVATION WHERE RESERVATION_NO = #{reservationNo}
	</select>
	
	<select id="selectOneBySno" resultMap="reservationResultMap">
		SELECT RESERVE_DATE, RESERVE_COUNT, RESERVE_TIME, USER_NICK || '님 ' || RESERVE_TIME || '시 ' || RESERVE_COUNT || '명 '  AS USER_NICK FROM RESERVATION JOIN "USER" USING(USER_NO) WHERE SHOP_NO = #{shopNo}
	</select>
	
	<select id="confirmRCount" resultType="_int">
		SELECT SH.SHOP_MAX_RESERVATION - (SELECT NVL(SUM(RE.RESERVE_COUNT),0)
                                    FROM RESERVATION RE
                                    WHERE RE.SHOP_NO = SH.SHOP_NO
                                    AND RE.RESERVE_DATE = #{reserveDate}
                                    AND RE.RESERVE_TIME = #{reserveTime}) AS CNT        
		FROM SHOP SH WHERE SH.SHOP_NO = #{shopNo}
	</select>
	
	<update id="updateRstate">
		UPDATE RESERVATION SET R_STATE = #{rState} WHERE RESERVATION_NO = #{reservationNo}
	</update>
	
	<update id="updateShopPoint">
		UPDATE SHOP SET SHOP_POINT = NVL(SHOP_POINT,0) + (SELECT NVL(PAYMENT_POINT,0) FROM RESERVATION WHERE RESERVATION_NO = #{reservationNo}) WHERE SHOP_NO = #{shopNo}
	</update>

	<update id="cancleReservation">
		UPDATE "USER" SET USER_POINT = USER_POINT+(SELECT PAYMENT_POINT FROM RESERVATION WHERE USER_NO = #{userNo} AND RESERVATION_NO=#{reservationNo}) WHERE USER_NO = #{userNo} 
	</update>

	<resultMap type="Shop" id="shopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="reserveNo" column="RESERVE_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopShortAddr" column="SHOP_SHORT_ADDR"/>
		<result property="shopAddr" column="SHOP_ADDR"/>
		<result property="shopTarget" column="SHOP_TARGET"/>
		<result property="shopProduct" column="SHOP_PRODUCT"/>
		<result property="shopType" column="SHOP_TYPE"/>
		<result property="shopFileName" column="SHOP_FILENAME"/>
		<result property="shopFilePath" column="SHOP_FILEPATH"/>
		<result property="shopFileSize" column="SHOP_FILESIZE"/>
		<result property="shopUploadTime" column="SHOP_UPLOADTIME"/>
		<result property="shopPhone" column="SHOP_PHONE"/>
		<result property="shopParking" column="SHOP_PARKING_YN"/>
		<result property="shopMaxReserv" column="SHOP_MAX_RESERVATION"/>
		<result property="shopContent" column="SHOP_CONTENT"/>
		<result property="shopLat" column="SHOP_LAT"/>
		<result property="shopLng" column="SHOP_LNG"/>
		<result property="shopPoint" column="SHOP_POINT"/>
		<result property="shopPointYn" column="SHOP_POINT_YN"/>
		<result property="userNo" column="USER_NO"/>
		<result property="donNo" column="DON_NO"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="businessDay" column="BUSINESS_DAY"/>
	</resultMap>

	<select id="selectAllByDream" resultMap="reservationResultMap">
		SELECT SHOP_NAME, RESERVE_DATE, SHOP_NO, RESERVATION_NO, RESERVATION.USER_NO, R_STATE FROM RESERVATION JOIN SHOP USING (SHOP_NO) WHERE RESERVATION.USER_NO = #{userNo} ORDER BY RESERVE_DATE DESC
	</select>

	<select id="listByDreamUpToThree" resultMap="reservationResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY RESERVE_DATE DESC) AS NUM, SHOP_NAME, SHOP_NO, RESERVE_DATE, RESERVATION_NO, RESERVATION.USER_NO, R_STATE FROM RESERVATION JOIN SHOP USING (SHOP_NO) WHERE  RESERVATION.USER_NO = #{userNo}) WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM RESERVATION WHERE USER_NO = #{userNo}
	</select>
	
	<select id="selectShopListCount" resultType="_int">
		SELECT COUNT(*) FROM RESERVATION WHERE SHOP_NO = #{shopNo}
	</select>
	
	
	
	
	
	<select id="selectAllByMZ" resultMap="reservationResultMap">
		SELECT SHOP_NAME, SHOP_NO, RESERVE_DATE, RESERVE_TIME, RESERVE_COUNT, RESERVATION_NO, RESERVATION.USER_NO, R_STATE FROM RESERVATION JOIN SHOP USING (SHOP_NO) WHERE RESERVATION.USER_NO = #{userNo} ORDER BY RESERVE_DATE DESC
	</select>
	
	<select id="listByMZToThree" resultMap="reservationResultMap">
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY RESERVE_DATE DESC) AS NUM, SHOP_NAME, R_STATE, SHOP_NO, RESERVE_DATE, RESERVE_TIME, RESERVE_COUNT, RESERVATION_NO, RESERVATION.USER_NO FROM RESERVATION JOIN SHOP USING (SHOP_NO) WHERE  RESERVATION.USER_NO = #{userNo}) WHERE NUM BETWEEN 1 AND 3
	</select>
	

	
	
	<resultMap type="User" id="userResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNick" column="USER_NICK"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="partnerVerify" column="PARTNER_VERIFY"/>
		<result property="partnerWithdraw" column="PARTNER_WITHDRAW"/>
		<result property="dreamCardno" column="DREAM_CARDNO"/>
		<result property="userPoint" column="USER_POINT"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="partnerName" column="PARTNER_NAME"/>
	</resultMap>
	
	<select id="selectAllByShop" resultMap="reservationResultMap"> 
		SELECT USER_NICK, RESERVE_COUNT, RESERVE_DATE, R_STATE, RESERVATION_NO FROM RESERVATION JOIN "USER" USING(USER_NO) WHERE SHOP_NO = #{shopNo} ORDER BY RESERVE_DATE DESC
	</select>
	
	<select id="listByShopToThree" resultMap="reservationResultMap" >
		SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY RESERVE_DATE DESC) AS NUM, (SELECT USER_NICK FROM "USER" WHERE USER_NO = RESERVATION.USER_NO) AS USER_NICK, RESERVE_COUNT, RESERVE_DATE, RESERVATION_NO, R_STATE, SHOP_NO, RESERVATION.USER_NO FROM RESERVATION JOIN SHOP USING (SHOP_NO) WHERE SHOP_NO = #{shopNo}) WHERE NUM BETWEEN 1 AND 3
	</select>
	
	<!-- 사업자 마이페이지 캘린더에 예약 상태별 불러오기 -->
	<select id="reservationState" resultMap="reservationResultMap">
		SELECT RESERVE_DATE, (USER_NICK || '님 ' || RESERVE_TIME || '시 ' || RESERVE_COUNT || '명') AS USER_NICK  FROM RESERVATION JOIN "USER" USING (USER_NO) WHERE SHOP_NO = #{shopNo} AND R_STATE = #{rState}
	</select>
	

</mapper>

