<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservationMapper">
   <resultMap type="Reservation" id="reservationResultMap">
      <id property="reserveNo"  column="RESERVATION_NO"></id>
      <result property="shopNo" column="SHOP_NO"></result>
      <result property="reserveDate" column="RESERVE_DATE"></result>
      <result property="reserveTime" column="RESERVE_TIME"></result>
      <result property="reserveCount" column="RESERVE_COUNT"></result>
      <result property="pointYn" column="POINT_YN"></result>
      <result property="paymentPoint" column="PAYMENT_POINT"></result>
      <result property="userNo" column="USER_NO"></result>
   </resultMap>

	<insert id="insertRservation">
		INSERT INTO RESERVATION VALUES(SEQ_RESERVATION.NEXTVAL, #{shopNo}, #{reserveDate}, #{reserveTime}, #{reserveCount}, #{pointYn}, #{paymentPoint}, #{userNo})
	</insert>
	
	<update id="updatePoint">
		
	</update>

</mapper>