<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shopMapper">

	<!-- 사업자 가게 테이블 -->
	<resultMap type="Shop" id="shopResultMap">
		<id property="shopNo" column="SHOP_NO"/>
		<result property="shopName" column="SHOP_NAME"/>
		<result property="shopShortAddr" column="SHOP_SHORT_ADDR"/>
		<result property="shopAddr" column="SHOP_ADDR"/>
		<result property="shopTarget" column="SHOP_TARGET"/>
		<result property="shopProduct" column="SHOP_PRODUCT"/>
		<result property="shopType" column="SHOP_TYPE"/>
		<result property="shopFileName" column="SHOP_FILENAME"/>
		<result property="shopFilePath" column="SHOP_FILEPATH"/>
		<result property="shopFileSize" column="SHOP_FILESIZE"/>
		<result property="shopUploadTime" column="SHOP_UPLOADTIME"/>
		<result property="shopPhone" column="SHOP_PHONE"/>
		<result property="shopParking" column="SHOP_PARKING_YN"/>
		<result property="shopMaxReserv" column="SHOP_MAX_RESERVATION"/>
		<result property="shopContent" column="SHOP_CONTENT"/>
		<result property="shopLat" column="SHOP_LAT"/>
		<result property="shopLng" column="SHOP_LNG"/>
		<result property="shopPoint" column="SHOP_POINT"/>
		<result property="shopPointYn" column="SHOP_POINT_YN"/>
		<result property="userNo" column="USER_NO"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="businessDay" column="BUSINESS_DAY"/>
		<result property="mainMenuNo" column="MAIN_MENU_NO"/>
	</resultMap>
	
	<select id="selectAllList" resultMap="shopResultMap">
		SELECT SHOP_NO, SHOP_NAME, SHOP_ADDR, SHOP_SHORT_ADDR, SHOP_TARGET, SHOP_PRODUCT, SHOP_TYPE, SHOP_FILENAME, SHOP_PHONE, SHOP_PARKING_YN, SHOP_CONTENT, START_TIME, END_TIME, BUSINESS_DAY FROM SHOP
			<if test="value == 1">
				ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 2">
				WHERE SHOP_ADDR LIKE '%' || '서울' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 3">
				WHERE SHOP_ADDR LIKE '%' || '부산' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 4">
				WHERE SHOP_ADDR LIKE '%' || '광주' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 5">
				WHERE SHOP_ADDR LIKE '%' || '대구' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 6">
				WHERE SHOP_ADDR LIKE '%' || '대전' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 7">
				WHERE SHOP_ADDR LIKE '%' || '세종' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 8">
				WHERE SHOP_ADDR LIKE '%' || '울산' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 9">
				WHERE SHOP_ADDR LIKE '%' || '인천' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 10">
				WHERE SHOP_ADDR LIKE '%' || '제주' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 11">
				WHERE SHOP_ADDR LIKE '%' || '강원' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 12">
				WHERE SHOP_ADDR LIKE '%' || '경기' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 13">
				WHERE SHOP_ADDR LIKE '%' || '경남' || '%'
				OR SHOP_ADDR LIKE '%' || '경상남도' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 14">
				WHERE SHOP_ADDR LIKE '%' || '경북' || '%'
				OR SHOP_ADDR LIKE '%' || '경상북도' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 15">
				WHERE SHOP_ADDR LIKE '%' || '전남' || '%'
				OR SHOP_ADDR LIKE '%' || '전라남도' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 16">
				WHERE SHOP_ADDR LIKE '%' || '전북' || '%'
				OR SHOP_ADDR LIKE '%' || '전라북도' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 17">
				WHERE SHOP_ADDR LIKE '%' || '충남' || '%'
				OR SHOP_ADDR LIKE '%' || '충청남도' || '%' ORDER BY SHOP_NO DESC
			</if>	
			<if test="value == 18">
				WHERE SHOP_ADDR LIKE '%' || '충북' || '%'
				OR SHOP_ADDR LIKE '%' || '충청북도' || '%' ORDER BY SHOP_NO DESC
			</if>	
	</select>
	
	<select id="selectMapKeyword" resultMap="shopResultMap">
		SELECT SHOP_NO, SHOP_NAME, SHOP_ADDR, SHOP_SHORT_ADDR, SHOP_TARGET, SHOP_PRODUCT, SHOP_TYPE, SHOP_FILENAME, SHOP_PHONE, SHOP_PARKING_YN, SHOP_CONTENT, START_TIME, END_TIME, BUSINESS_DAY FROM SHOP WHERE SHOP_ADDR LIKE '%' || #{searchKeyword } || '%' OR SHOP_NAME LIKE '%' || #{searchKeyword } || '%' ORDER BY SHOP_NO DESC
	</select>
	
	<select id="selectOne" resultMap="shopResultMap">
    	SELECT * FROM SHOP WHERE SHOP_NO = #{shopNo}
    </select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM SHOP
			<if test="value == 1">
			</if>	
			<if test="value == 2">
				WHERE SHOP_ADDR LIKE '%' || '서울' || '%'
			</if>	
			<if test="value == 3">
				WHERE SHOP_ADDR LIKE '%' || '부산' || '%'
			</if>	
			<if test="value == 4">
				WHERE SHOP_ADDR LIKE '%' || '광주' || '%'
			</if>	
			<if test="value == 5">
				WHERE SHOP_ADDR LIKE '%' || '대구' || '%'
			</if>	
			<if test="value == 6">
				WHERE SHOP_ADDR LIKE '%' || '대전' || '%'
			</if>	
			<if test="value == 7">
				WHERE SHOP_ADDR LIKE '%' || '세종' || '%'
			</if>	
			<if test="value == 8">
				WHERE SHOP_ADDR LIKE '%' || '울산' || '%'
			</if>	
			<if test="value == 9">
				WHERE SHOP_ADDR LIKE '%' || '인천' || '%'
			</if>	
			<if test="value == 10">
				WHERE SHOP_ADDR LIKE '%' || '제주' || '%'
			</if>	
			<if test="value == 11">
				WHERE SHOP_ADDR LIKE '%' || '강원' || '%'
			</if>	
			<if test="value == 12">
				WHERE SHOP_ADDR LIKE '%' || '경기' || '%'
			</if>	
			<if test="value == 13">
				WHERE SHOP_ADDR LIKE '%' || '경남' || '%'
				OR SHOP_ADDR LIKE '%' || '경상남도' || '%'
			</if>	
			<if test="value == 14">
				WHERE SHOP_ADDR LIKE '%' || '경북' || '%'
				OR SHOP_ADDR LIKE '%' || '경상북도' || '%'
			</if>	
			<if test="value == 15">
				WHERE SHOP_ADDR LIKE '%' || '전남' || '%'
				OR SHOP_ADDR LIKE '%' || '전라남도' || '%'
			</if>	
			<if test="value == 16">
				WHERE SHOP_ADDR LIKE '%' || '전북' || '%'
				OR SHOP_ADDR LIKE '%' || '전라북도' || '%'
			</if>	
			<if test="value == 17">
				WHERE SHOP_ADDR LIKE '%' || '충남' || '%'
				OR SHOP_ADDR LIKE '%' || '충청남도' || '%'
			</if>	
			<if test="value == 18">
				WHERE SHOP_ADDR LIKE '%' || '충북' || '%'
				OR SHOP_ADDR LIKE '%' || '충청북도' || '%'
			</if>	
	</select>
	
	<select id="selectListCountKey" resultType="_int">
		SELECT COUNT(*) FROM SHOP WHERE SHOP_ADDR LIKE '%' || #{searchKeyword} || '%' 
	</select>	
	
	
	
	<!-- 메인 메뉴 테이블 -->
	<resultMap type="MainMenu" id="mainMenuResultMap">
		<id property="mainMenuNo" column="MAIN_MENU_NO"/>
		<result property="mainMenuName" column="MAIN_MENU_NAME"/>
		<result property="mainMenuPrice" column="MAIN_MENU_PRICE"/>
		<result property="shopNo" column="SHOP_NO"/>
	</resultMap>
	
	
	<!-- 메뉴 사진 테이블 -->
	<resultMap type="MenuPhoto" id="menuPhotoResultMap">
		<id property="menuFileNo" column="MENU_FILENO"/>
		<result property="menuFileName" column="MENU_FILENAME"/>
		<result property="menuFilePath" column="MENU_FILEPATH"/>
		<result property="menuFileSize" column="MENU_FILESIZE"/>
		<result property="menuUploadTime" column="MENU_UPLOADTIME"/>
		<result property="shopNo" column="SHOP_NO"/>
	</resultMap>
</mapper>