<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userMapper">
	<resultMap type="User" id="userResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="USER_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNick" column="USER_NICK"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="partnerVerify" column="PARTNER_VERIFY"/>
		<result property="partnerWithdraw" column="PARTNER_WITHDRAW"/>
		<result property="dreamCardno" column="DREAM_CARDNO"/>
		<result property="userPoint" column="USER_POINT"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="partnerName" column="PARTNER_NAME"/>
	</resultMap>
	
	<select id="selectOneUser" parameterType="User" resultMap="userResultMap">
		SELECT * FROM "USER"
		WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>

	<select id="selectOneUserByNo" parameterType="_int" resultMap="userResultMap">
		SELECT * FROM "USER" WHERE USER_NO = #{userNo}
	</select>

	<select id="findId" parameterType="HashMap" resultType="string">
		SELECT USER_ID FROM "USER"
		WHERE USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="checkLoginDup" resultType="_int" parameterType="HashMap">
		SELECT COUNT(*) FROM "USER" WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
	
	<select id="checkIdDup" resultType="_int">
		SELECT COUNT(*) FROM "USER" WHERE USER_ID = #{userId}
	</select>

	<select id="checkPhoneDup" resultType="_int">
		SELECT COUNT(*) FROM "USER" WHERE USER_PHONE = #{userPhone}
	</select>

	<select id="checkCardAvail" resultType="_int" parameterType="HashMap">
		SELECT COUNT(*) FROM DREAMCARD WHERE DREAM_NAME = #{1} AND DREAM_CARDNUM = #{2}
	</select>
	
	<select id="checkCardDup" resultType="_int" parameterType="HashMap">
		SELECT COUNT(*) FROM "USER" WHERE DREAM_CARDNO = #{2}
	</select>
	
	<select id="checkNickDup" resultType="_int">
		SELECT COUNT(*) FROM "USER" WHERE USER_NICK = #{userNick}
	</select>

	<select id="checkPVerifyDup" resultType="_int">
		SELECT COUNT(*) FROM "USER" WHERE PARTNER_VERIFY = #{partnerVerify}
	</select>

	<select id="checkEmailDup" resultType="_int">
		SELECT COUNT(*) FROM "USER" WHERE USER_EMAIL = #{userEmail}
	</select>

	<select id="checkEmailDupNotMe" resultType="_int" parameterType="User">
		SELECT COUNT(*) FROM "USER" WHERE USER_EMAIL = #{userEmail} AND USER_NO != #{userNo}
	</select>

	<select id="checkPhoneDupNotMe" resultType="_int" parameterType="User">
		SELECT COUNT(*) FROM "USER" WHERE USER_PHONE = #{userPhone} AND USER_NO != #{userNo}
	</select>

	<select id="checkFindIdDup" resultType="_int" parameterType="HashMap">
		SELECT COUNT(*) FROM "USER" WHERE USER_NAME = #{userName} AND USER_EMAIL = #{userEmail}
	</select>
	
	<select id="checkFindPwDup" resultType="_int" parameterType="HashMap">
		SELECT COUNT(*) FROM "USER" WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
	</select>
	
	<insert id="insertDreamUser" parameterType="User">
		INSERT INTO "USER"
		VALUES(SEQ_USER.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userNick}, #{userPhone}, #{userEmail}, null, null, #{dreamCardno}, null, '1', null)
	</insert>
	
	<insert id="insertMzUser" parameterType="User">
		INSERT INTO "USER"
		VALUES(SEQ_USER.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userNick}, #{userPhone}, #{userEmail}, null, null, null, 0, '2', null)
	</insert>

	<insert id="insertPartnerUser" parameterType="User">
		INSERT INTO "USER"
		VALUES(SEQ_USER.NEXTVAL, #{userId}, #{userPw}, #{userName}, null, #{userPhone}, #{userEmail}, #{partnerVerify}, DEFAULT, null, null, '3', #{partnerName})
	</insert>

	<update id="resetPw">
		UPDATE "USER" SET USER_PW = #{userPw} WHERE USER_ID = #{userId} AND USER_EMAIL = #{userEmail}
	</update>

	<update id="deleteRequestUser">
		UPDATE "USER" SET PARTNER_WITHDRAW = 'Y' USER_NO=#{userNo}
	</update>
	
	<delete id="deleteUser">
		DELETE FROM "USER" WHERE USER_NO=#{userNo}
	</delete>
	
	<select id="checkPwDup" resultType="_int" parameterType="HashMap">
		SELECT COUNT(*) FROM "USER" WHERE USER_NO = #{userNo} AND USER_PW = #{userPw}
	</select>
	
	<update id="updateToNull">
		UPDATE "USER"
		SET USER_PHONE = NULL, USER_EMAIL = NULL, PARTNER_NAME= NULL
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updateMzUser">
		UPDATE "USER"
		SET USER_PW = #{userPw}, USER_PHONE = #{userPhone}, USER_EMAIL = #{userEmail}
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updatePartnerUser">
		UPDATE "USER"
		SET USER_PW = #{userPw}, USER_PHONE = #{userPhone}, USER_EMAIL = #{userEmail}, PARTNER_NAME = #{partnerName}
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updateUserPoint">
		UPDATE "USER" SET USER_POINT = NVL(USER_POINT,0) - (SELECT NVL(PAYMENT_POINT,0) FROM RESERVATION WHERE RESERVATION_NO= #{reservationNo})
        WHERE USER_NO = #{userNo}
	</update>
</mapper>
