@charset "UTF-8";

/* 헤더고정 */
.fixed-header-navi {
	z-index : 20;
}

 /* 백그라운드 이미지 */
.header-background-area {
    width: 1903px;
    max-width : 100%;
    margin: 0 auto;
}
    .header-background-area > img {
    	max-width : 100%;
    	height: 378px;
        position: absolute;
        z-index: -5;
        display: block;
        top: 0;
        width: 1903px;
        align: center;
        object-fit:cover; 
        
    } 

/* 메인 */
main {
	height : 1200px;
	text-align: -webkit-center;
}
