@charset "UTF-8";

#calendar {
	height: 500px;
	width: 900px;
	float: left;
	margin-top:10px;
	position:static;
}

#calendarSection{
  height: 650px;
  width: 900px;
  border: solid 1px #fdb504;
  background-color: #ffffff;
  float: left;
}


#calendarText{
  width: 900px;
  height: 60px;
  background-color: #fdb504;
}

.titleH1{
	font: #333;
	top:17px;
	line-height: 55px;
}

#selectAreaFirst{
	float: left;
	height:650px;
	width:350px;
	border: solid 1px #fdb504;
    background-color: #ffffff;
    margin-left: 20px;
}

#rTimeText{
	height: 60px;
	width: 100%;
	background-color: #fdb504;
	
}

#selectTSection{
	height: 100px;
	width: 100%;
}

#selectTime{
	border-radius: 3px;
  	border: solid 2px #fdb504;
  	font-size: 20px;
  	font: #333;
}

#selectCount{
	border-radius: 3px;
  	border: solid 2px #fdb504;
  	font-size: 20px;
  	font: #333;
}

#pointText{
	border-radius: 3px;
  	border: solid 2px #fdb504;
  	font-size: 20px;
  	font: #333;
}

#selectAreaSecond{
	float: left;
	height:567px;
	width:410px;
}

#rCountText{
	height: 60px;
	width: 100%;
	background-color: #fdb504;
}

#selectCSection{
	height: 100px;
	width: 100%;
}

#rPointText{
	height: 60px;
	width: 100%;
	background-color: #fdb504;
}

.pRadion{
	margin-top:20px;
}

#pointUseDiv{
	margin-top: 20px;
}

#pointBox{
	margin-top: 20px;
}

#pButton{
	margin-top: 10px;	
}

#selectAreaThird{
	float: left;
	height:175px;
	width:1280px;
	margin-top:20px;
	border: solid 1px #fdb504;
    background-color: #ffffff;
}


.allInformation{
	margin-top: 15%;
	font-size: 25px;
	font-weight: bold;
}

.select{
	font-size: 20px;
	margin-top: 32px;
}

.pointUse{
	font-size: 14px;
}

.resultBox{
	height: 100%;
	width: 40%;
	float: left;
	margin-left: 30px;
	display: inline-block;
}

.reservationArea{
	height: 100%;
	width: 150px;
	float: left;
	display: inline-block;
	margin-top: -10px;
}

h2{
	text-align: left;
}

#pointText{
	height: 26px;
}

.button{
	background-color: #fdb504;
	border-radius: 5px;
	font-size: 20px;
	color: #e3e4e5;
	padding:5px 5px 5px 5px;
}

.label{
	width: 10px;
}



/* 내가 만진 css 끝 */


body {
	margin: 40px 10px;
	padding: 0;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
}

.frame {
	width: 1289px;
	margin: 0 auto;
	/* position:relative; */
	height:980px;
	margin-top:140px;
}

/* 백그라운드 이미지 */
.header-background-area {
	width: 1903px;
	margin: 0 auto;
}

.header-background-area>img {
	position: absolute;
	z-index: -5;
	display: block;
	top: 0;
	width: 1903px;
	align: center;
	object-fit: cover;
}

/* 헤더 끝, 메인 타이틀설정! */
#main-title {
    width: 100%;
    height: 278px;
    font-size: 60px;
    font-family: 'Jal_Onuel';
    color: #ffffff;
    text-align: center;
    position: absolute;
	top: 150px;
	right: 480px;
    line-height: 4.7;
    z-index: -2;
} 

#main-title-font{
	font-size: 20px;
}


#paymentPoint{
	display:none;
}