@charset "UTF-8";

#main-title {
    width: 100%;
    height: 278px;
    font-family: 'Jal_Onuel';
    color: #ffffff;
    position: absolute;
   top: 101px;
    line-height: 4.7;
    z-index: -2;
     margin: 50px 0 0 430px; /* 위치수정 */
   
}
	.top-sub-title {
 	    max-width: 1450px;
	    font-size: 60px;
	    display: inline-block;
	    height: 190px;
	    float: left;
	}
	.top-sub-shopName {
		font-size: 16px;
	    display: inline-block;
	    float: left;
	    margin-top: 120px;
	    margin-left: 10px;
	}
	
	#main-title {}
        /* 게시판 메뉴 */
        .title-nick-date-area{
            border: solid 1px #fdb504;
		    width: 975px;
		    padding: 15px;
		    margin: 50px auto 30px auto;
		    height: 20px;
        }
            .title-top-area {
            }
                .title{
                }
            .title-bottom-area {
            }
                .title-bottom-shopName-area{
                }
                    .shopName{
                    }
                .title-bottom-date-area{
                    float: right;
                }
                    .createDate{
                    	float: right;
                    	color: #888888;
                    }
                .title-bottom-nick-area {
                    float: left;
                }
                    .userNick {
                    	color: #333333;
                    }


        .content-area {
            width: 975px;
            min-height: 500px;
            height: auto;
            margin: 0 auto 50px auto;
            border: solid 1px #fdb504;
            padding: 15px;
        }
/* 버튼위치 */
.bottom-btn-area {
	width : 1000px;
	height : 40px;
	 margin: 0 auto 50px auto;
}
	.modify-btn-area{
		width: 150px;
        height: 40px;
        float : left;
        margin-right : 15px;
	}

        /* 목록으로 버튼 */
        .back-btn-area{
            width: 250px;
            height: 40px;
		    margin: 0 auto;
	    	font-size: 16px;
        }
        .back-btn-area > button, .modify-btn-area > button {
            width: inherit;
            height: inherit;
            border: none;
            background-color: #fdb504;
            color: #fff;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
        }
        .user-back-btn-area {
        	width: 150px;
		    height: 40px;
		    float: right;
        }
        .user-back-btn-area > button {
	        cursor: pointer;
		    width: inherit;
		    height: inherit;
		    border: none;
		    background-color: #fdb504;
		    color: #fff;
		    font-family: 'Noto Sans KR', sans-serif;
		    font-size: 16px;
	    }