@charset "UTF-8";

/* 백그라운드 이미지 */
 .header-background-area {
     width: 1903px;
     margin: 0 auto;
 }
     .header-background-area > img {
         position: absolute;
         z-index: -5;
         display: block;
         top: 0;
         width: 1903px;
         align: center;
         object-fit:cover; 
         
     }

/* 공통 태그 */ 
h1{
	font-size:38px;
	padding: 50px;
	
}          
input[type=radio]{
	display: none;
	margin: 0px;
}

/* 헤더 */
/* 헤더 끝, 메인 타이틀설정! */
#main-title {
    width: 100%;
    height: 278px;
    font-size: 60px;
    font-family: 'Jal_Onuel';
    color: #ffffff;
    text-align: center;
    position: absolute;
	top: 150px;
	right: 480px;
    line-height: 4.7;
    z-index: -2;
}
#main-title-shop {
	font-size: 20px;
}

/* 메인 */
.frame {
	--background-color: beige;
	width:1277px;
	height:570px;
	margin:0 auto;
	margin-top: 140px;
	margin-bottom: 140px;
}
	#lay1 {
      float: left;
      width: 410px;
      height: 566px;
      --height: auto;
      border: solid 1px #fdb504;
      background-color: #ffffff;
      margin-right: 20px;
      --overflow: scroll;
   }
		.lay-title {
			width: 410px;
			height: 60px;
			background-color: #fdb504;
			margin: 0 auto;
			font-size: 28px;
			text-align:center;
			color: #fff;
			line-height: 60px;
			font-weight: 600;
		}
		.lay1-content {
         overflow: scroll;
          width: 100%;
          height: 506px;
      }
      
      ::-webkit-scrollbar {
        display: none;
      }
		
		/* 
	.title-span {
		font-size:28px;
		text-align:center;
	} */
	#lay2 {
		float: left;
		width: 410px;
		height: 567px;
		border: solid 1px #fdb504;
		background-color: #ffffff;
		margin-right: 20px;
	}
	#lay3 {
		float: left;
		width: 410px;
		height: 566px;
		border: solid 1px #fdb504;
		background-color: #ffffff;
	}
		.menu-choice input[type=radio] + span{
			display: inline-block;
			height: 60px;
			line-height: 58px;
			font-size: 20px;
			text-align: center;
			width: 409px;
			border-bottom: solid 1px #fdb504;
			background-color: #ffffff;
		}
		.menu-choice input[type=radio]:checked + span{
			display: inline-block;
			width: 409px;
			height: 60px;
			line-height: 58px;
			font-size: 20px;
			text-align: center;
			background: rgba(253, 181, 4, 0.3);
			font-weight: bold;
		}
	
	.lay2{
		--border: 1px solid #333; 
		height: 50%;
	}
		#lay2-1 {
			height : 240px;
		} 
		#lay2-2 {
			height : auto;
		}
			.amount{
				text-align: center;
			}
			.amount-btn-div {
				margin-top: 60px;
			}
				input[type=radio]{
					display: none;
					margin: 0px;
				}
				.amount-btn input[type=radio] + span{
					display: inline-block;
					line-height: 58px;
					font-size: 20px;
					width: 111px;
					height: 61px;
					border: solid 1px #fdb504;
					background-color: #ffffff;
				}
				.amount-btn input[type=radio]:checked + span{
					display: inline-block;
					line-height: 58px;
					font-size: 20px;
					text-align: center;
					font-weight: bold;
					width: 111px;
					height: 61px;
					border: solid 1px #fdb504;
					background-color: #ffe9b4;
				}

			.point {
				font-size: 20px;
			}
				#lay2-point-div {
					width: 340px;
					margin: 0 auto;
					margin-top: 45px;
					line-height: 35px;
					text-align: center;
				}
				/* #lay2-point-div  input {
					border: 0;
				}
				#lay2-point-div  span{
					--float: right;
					width: 140px;
					height: 25px;
					font-size: 20px;
					text-align: center;
					font-weight: bold;
				} */
					#userPoint {
						border: 0;
						width: 140px;
						height: 25px;
						font-size: 20px;
						text-align: center;
						font-weight: bold;
					}
					#useablePoint {
						border: 0;
						width: 140px;
						height: 25px;
						font-size: 20px;
						text-align: center;
						font-weight: bold;
					}
					#usePoint {
						width: 140px;
						height: 25px;
						font-size: 20px;
						text-align: center;
						font-weight: bold;
					}

				#pSubmit {
					margin: 0 auto;
					display: block;
					color: #333;
					border:0;
					font-size: 18px;
					font-weight: 600;
					width: 200px;
					height: 40px;
					border-radius: 3px;
					border: solid 1px #fdb504;
					background-color: #ffffff;
					cursor:pointer;
				}
				#pSubmit:hover {
					background-color: #ffe9b4;
					--cursor:pointer;
				}

		.lay3 {
			font-size: 20px;
		}
			#lay3-payment-result{
				width: 300px;
				margin: 0 auto;
				margin-top: 60px;
				line-height: 35px;
				--text-align: center;
			}
			.lay3-input {
			
			}
			#lay3-payment-result input{
				border: 0;
				--float: right;
				width: 140px;
				height: 25px;
				font-size: 20px;
				text-align: center;
				font-weight: bold;
			}
			#lay3-payment-result input[name='menuName']{
				--size: 20px;
				width: 180px;
			}

		/* 폼 전송버튼 */
		#payment-btn {
			margin: 0 auto;
			display: block;
			color: #fff;
			border:0;
			font-size: 24px;
			font-weight: 600;
			cursor:pointer;
			text-align: center;
			
			width: 330px;
			height: 60px;
			margin: 103px 39px 0 41px;
			background-color: #fdb504;
		}

/* 카카오, 이니시스 모달창 */
#paymentModal {
	height : 400px;
}
	.modal-link-area input[type="radio"]{
		display:none;
	}
	.modal-link-area input[type="radio"] + span {
		cursor: pointer;
	    width: 200px;
	    height: 50px;
	    line-height: 3;
	    text-align: center;
	    float: left;
	    margin: 8px;
	    border: 1px solid #333;
	}
	.modal-link-area input[type="radio"]:checked + span {
		border:1px solid #fdb504;
		background:#fdb504;
		color:#fff;
	}

.modal-checkbox-area {
	font-size: 14px;
}
	.modal-checkbox-area input[type="checkbox"] {
		width: 13px;
		height : 13px;
	}

	/* 결제대행이용약관 */
	.checkoutInformation {
		margin-top : 60px;
		display: inherit;
	}
	.information-1 {
		font-size : 14px;
		color : #a0a0a0;
		float : rgiht;
	}
	.information-1 a {
		color: #a0a0a0;
		border-bottom: 1px solid #333;
	}

.pay-btn {
    width: 440px;
    height: 50px;
	border: none;
	font-size: 16px;
    margin: 10px auto;
	background: #fdb504;
	color : #fff;
	cursor:pointer;
}

