@charset "UTF-8";

/* 백그라운드 이미지 */
 .header-background-area {
     width: 1903px;
     margin: 0 auto;
 }
     .header-background-area > img {
         position: absolute;
         z-index: -5;
         display: block;
         top: 0;
         width: 1903px;
         align: center;
         object-fit:cover; 
         
     }

/* 공통 태그 */ 
h1{
	font-size:38px;
	padding: 50px;
	
}          
h2 {
	font-size:28px;
	text-align:center;
}
input[type=radio]{
	display: none;
	margin: 0px;
}

/* 메인 */
.frame {
	--background-color: beige;
	width:1440px;
	height:1000px;
	margin:0 auto;
}
	.payment {
		--border: 1px solid black; 
		width: 33%;
		height: 600px;
		float: left;
	}
	/* .menu-choice {
		display: inline-block;
		border: 1px solid black;
		
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
	} */
	.menu-choice input[type=radio] + span{
		display: inline-block;
		--border: 1px solid black;
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		background: #fff;
	}
	.menu-choice input[type=radio]:checked + span{
		display: inline-block;
		--border: 1px solid black;
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		text-align: center;
		background: #fdb504;
		font-weight: bold;
	}
	
		.lay2{
			border: 1px solid black; 
			height: 50%;
		}
			.amount{
				text-align: center;
			}
				input[type=radio]{
					display: none;
					margin: 0px;
				}
				.amount-btn input[type=radio] + span{
					display: inline-block;
					border: 1px solid black;
					width: 130px;
					height: 50px;
					border-radius: 5px;
					line-height: 50px;
					font-size: 20px;
				}
				.amount-btn input[type=radio]:checked + span{
					display: inline-block;
					--border: 1px solid black;
					width: 130px;
					height: 50px;
					border-radius: 5px;
					line-height: 50px;
					font-size: 20px;
					text-align: center;
					background: #fdb504;
					font-weight: bold;
				}

			.point {
				font-size: 20px;
				--margin-bottom: 10px;
				--display: inline-block;
			}
				#lay2-point-div {
					width: 340px;
					margin: 0 auto;
					line-height: 35px;
					font-weight: bold;
					text-align: center;
				}
					#userPoint {
						width: 140px;
						height: 25px;
						font-size: 16px;
						--display: none;
					}
					#usePoint {
						width: 140px;
						height: 25px;
						font-size: 16px;
					}

				#pSubmit {
					width: 100px;
					height: 40px;
					--margin-left: 125px;
					--margin-top: 25px;
					margin: 0 auto;
					display: block;
					background-color:#fdb504;
					color: #fff;
					border:0;
					font-size: 18px;
					font-weight: 600;
					cursor:pointer;
				}

		.lay3 {
			font-size: 20px;
		}
			#lay3-payment-result{
				--background-color: blue;
				width: 300px;
				margin: 0 auto;
				--margin-left: 55px;
				line-height: 35px;
				font-weight: bold;
			}
			#lay3-payment-result input{
				--text-align: right;
				float: right;
				width: 140px;
				height: 25px;
				font-size: 20px;
				text-align: center;
				font-weight: bold;
			}

		/* 폼 전송버튼 */
		#payment-btn {
			width: 150px;
			height: 40px;
			margin: 0 auto;
			display: block;
			background-color:#fdb504;
			color: #fff;
			border:0;
			font-size: 18px;
			font-weight: 600;
			cursor:pointer;
		}


