@charset "UTF-8";

/* 백그라운드 이미지 */
 .header-background-area {
     width: 1903px;
     margin: 0 auto;
 }
     .header-background-area > img {
         position: absolute;
         z-index: -5;
         display: block;
         top: 0;
         width: 1903px;
         align: center;
         object-fit:cover; 
         
     }

     

/* 메인 */
.frame {
	background-color: beige;
	width:1440px;
	height:1000px;
	margin:0 auto;
}



 